spec/dest
*.gem
.bundle
Gemfile.lock
pkg/*
coverage
rdoc
doc
.yardoc
.rspec
.rspec_status
*.db
*.log
*.tmp
*~
*.bak
.DS_Store
tmp/
spec/fixtures/_site/

# Test files that shouldn't be committed
bad.css
bad.js
test.css
